
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Raleway:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: raleway, cabin, serif;
    font-weight: 300;
    font-size: 1rem;
    color: #274156;
    width: 100%;
    height: 100vh; 
}
/*Grid Container*/

#grid_container_home {
    display: grid;
   
    grid-template-columns: 1fr ;
   
    grid-template-areas: "header"
                         "main_section_image"
                         "Main"
                         "vegatable_doodle"
                         "footer";
    
}
h1, h2, h3, h4 {
    margin: 10px;
    text-align: center;
}

p {
    margin: 15px;
    padding: 5px;
    text-align: center;
}

/*header*/
.header {
    grid-area: header;
    background-color: #55742a;
    max-height: 200px;
    max-width: 100%;
    color: whitesmoke;
    letter-spacing: 4px;
    font-size: 90%;
    text-align: center;
    
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    
}

.nav a:hover {
    color: #cf5c36 ;
    border-bottom: 1px solid whitesmoke;
}

.active {
    color: #cf5c36;
    border-bottom: 1px solid whitesmoke;
}

.nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    text-align: center;
    margin: 5px;
    padding-bottom: 5px;
}
/*Main Section*/

main div h2 {
    background-color: #cf5c36;
    color: whitesmoke;
    margin: 0;
    padding: 5px;
}

.main_section_image {
    grid-area: main_section_image;  
    text-align: center;
}

.main_section_image > img {
    max-width: 100%;
    max-height: fit-content;
    
}
.main_section {
    grid-area: main;
}

.vegatable_doodle{
    grid-area: vegatable_doodle;
    text-align: center;
}

.vegatable_doodle > img {
    max-width: 100%;
    max-height: fit-content;
    
}

main li {
    display: block;
    text-align: center;
    margin: 5px;
    justify-content: space-around;
    padding-bottom: 10px;
}

/*Footer*/
.footer {
    grid-area: footer;
    height: 125px;
    text-align: center;
    background-color: #55742a;
    color: whitesmoke;
    padding: 5px;
}

footer h4 {
    margin-top: 10px;
}

footer h4 p {
    margin-bottom: 10px;
}

.social-networks {
    text-align: center;
    margin-top: 10px;
}

.social-networks > li {
    display: inline;
    color: whitesmoke;
    margin-right: 10px;
}

.social-networks > li > a {
    color: whitesmoke;

}

/*Community Page*/
#grid_container_community {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    grid-template-areas: "header"
                          "jigsaw_graphic"
                          "community_tips"
                          "pinkypromise_graphic"
                          "community_rules"
                          "community_form"
                          "footer";
}

.jigsaw_graphic {
    grid-area: jigsaw_graphic;
    text-align: center;
    margin: 0;
}

.jigsaw_graphic > img {
    max-width: 100%;
    max-height: fit-content;}

.community_tips {
    grid-area: community_tips;
    background-color: #92AFD7;
    text-align: center;
    padding-bottom: 10px; 
}


.community_tips ul li {
    display: block;
    margin: 5px;
    padding-top: 10px;
}

.pinkypromise_graphic {
    grid-area: pinkypromise_graphic;
    text-align: center;
    margin: 0;
}

.pinkypromise_graphic> img {
    max-width: 100%;
    max-height: fit-content;}

.community_rules {
    grid-area: community_rules;
    background-color: #FFD166;
    text-align: center;
    padding-bottom: 10px;
}


.community_rules ol li {
    display: block;
    margin: 5px;
    padding-top: 10px;
}

.community_form {
    grid-area: community_form;
}


 #bg_image_outer {
        height: 400px;
        width: 100%;
        overflow: hidden;
        position: relative;
        background-color: #274156;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;   
}

#form{
    color: whitesmoke;
    height: 250px;
    padding: 5px;
    text-align: center;
    
}

/*Gallery*/
#grid_container_gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "gallery"
                        "footer";

}
#gallery {
    grid-area: gallery;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1.5em;
    padding: 1.5em;
}

#gallery a {
    display: flex;
    flex-direction: row wrap;
  
}

#gallery a img {
    max-width: 100%;
   ;
}



