
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Raleway:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: raleway, cabin, serif;
    font-weight: 300;
    font-size: 1rem;
    color: #274156;
    width: 100%;
    min-height: 100%; 
}
/*Grid Container Home Page*/

#grid_container_home {
    display: grid;
   
    grid-template-columns: 1fr ;
   
    grid-template-areas: "header"
                         "main_section_image"
                         "Main"
                         "vegatable_doodle"
                         "footer";
    
}
h1, h2, h3, h4 {
    margin: 10px;
    text-align: center;
}

p {
    margin: 15px;
    padding: 5px;
    text-align: center;
}

/*header*/
.header {
    grid-area: header;
    background-color: #55742a;
    max-height: 200px;
    max-width: 100%;
    color: whitesmoke;
    letter-spacing: 4px;
    font-size: 90%;
    text-align: center;
    
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    
}

.nav a:hover {
    color: #FFD166 ;
    border-bottom: 1px solid whitesmoke;
}

.active {
    color: #FFD166;
    border-bottom: 1px solid whitesmoke;
}

.nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    text-align: center;
    margin: 6.5px;
    padding-bottom: 6.5px;
}
/*Main Section Home Page*/

main div h2 {
    background-color: #cf5c36;
    color: whitesmoke;
    margin: 0;
    padding: 5px;
    letter-spacing: 2px;
}

.main_section_image {
    grid-area: main_section_image;  
    text-align: center;
}

.main_section_image > img {
    max-width: 100%;
    max-height: fit-content;
    
}
.main_section {
    grid-area: main;
}

.vegatable_doodle{
    grid-area: vegatable_doodle;
    text-align: center;
}

.vegatable_doodle > img {
    max-width: 100%;
    max-height: fit-content;
}

main p {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

main li {
    display: block;
    text-align: center;
    margin: 5px;
    justify-content: space-around;
    padding-bottom: 10px;
}

/*Footer*/
.footer {
    grid-area: footer;
    height: 125px;
    text-align: center;
    background-color: #55742a;
    color: whitesmoke;
    padding: 5px;
}


footer h4 {
    margin-top: 10px;
}

footer h4 p {
    margin: 5px;
    padding: 5px;
}

.social-networks {
    text-align: center;
    margin-top: 5px;
}

.social-networks > li {
    display: inline;
    color: whitesmoke;
    margin-right: 15px;
    margin-bottom: 5px;
}

.social-networks > li > a {
    color: whitesmoke;

}

/*Community Page*/
/*Grid Container Community Page*/
#grid_container_community {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                        "community_intro"
                          "jigsaw_graphic"
                          "community_tips"
                          "pinkypromise_graphic"
                          "community_rules"
                          "footer";
}

.community_intro {
    grid-area: community_intro;
}
.jigsaw_graphic {
    grid-area: jigsaw_graphic;
    text-align: center;
    margin: 0;
}

.jigsaw_graphic > img {
    max-width: 100%;
    max-height: fit-content;}

.community_tips {
    grid-area: community_tips;
    background-color: #92AFD7;
    text-align: center;
    padding: 40px; 
}


.community_tips ul li {
    display: block;
    margin: 5px;
    padding-top: 10px;
}

.pinkypromise_graphic {
    grid-area: pinkypromise_graphic;
    text-align: center;
    margin: 0;
}

.pinkypromise_graphic> img {
    max-width: 100%;
    max-height: fit-content;}

.community_rules {
    grid-area: community_rules;
    background-color: #FFD166;
    text-align: center;
    padding: 40px;
}


.community_rules ol li {
    display: block;
    margin: 5px;
    padding-top: 10px;
}



/*Gallery Page*/
/*Grid Container Gallery Page*/
#grid_container_gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                        "gallery_intro"
                         "gallery"
                         "contact_form"
                        "footer";
}

.gallery_intro {
    grid-area: gallery_intro;
}

/* Fancybox Carousel*/
#gallery {
    grid-area: gallery;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1.5em;
    padding: 1.5em;
}


#gallery a {
    display: flex;
    flex-wrap: wrap;
}

#gallery a img {
   
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*Form*/

.contact_form {
    grid-area: contact_form;
    background-color: #274156;
}



#form{
    color: whitesmoke;
    height: 525px;
    padding: 5px;
    text-align: center;
    
}

input[type=text], select {
    width: 60%;
    padding: 5px 10px;
    margin: 5px 0;
    border: 2px solid #92AFD7;
    box-sizing: border-box;
}

input[type=email], select {
    width: 60%;
    padding: 5px 10px;
    margin: 5px 0;
    border: 2px solid #92AFD7;
    box-sizing: border-box;
}

textarea {
    margin-bottom: 10px;
    margin-top: 5px;
}

  input[type=submit] {
    width: 60%;
    background-color: #92AFD7 ;
    color: #274156;
    padding: 5px 10px;
    margin: 5px 0;;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }


