* {
    margin: 0;
    padding: 0;
    border: none;
}

#grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-areas: "header header header header";
}

.header {
    grid-template-areas: header;
}