
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Raleway:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: raleway, cabin, serif;
    font-weight: 300;
    font-size: 1rem;
    color: rgb(13, 3, 58);
    height: 100vh;
    
}
/*Grid Container*/

#grid_container {
    display: grid;
   
    grid-template-columns: repeat(auto-fit, min-max(1fr, 4)) ;
    grid-template-areas: "header"
                         "Main";
    
}
h1, h2, h3, h4 {
    margin: 5px;
    text-align: center;
}

p {
    margin: 5px;
    text-align: center;
}

/*header*/
.header {
    grid-area: header;
    background-color: #70A37F;
    max-height: 200px;
    max-width: 1fr;
    color: whitesmoke;
    letter-spacing: 4px;
    font-size: 80%;
    text-align: center;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    text-align: center;
    margin: 5px;
}
/*Main Section*/
.main_section {
    grid-area: main;
}